<section class="section bg-info">
    <h2 class="text-center fw-bold fs-2 pt-4">Our Team</h2>
    <div class="container">
        <div class="row pt-1 mb-3">
            <div class="col-sm-4 text-center">
                <div class="card w-80 m-auto mb-2">
                    <div class="card-body">
                        <img src="../assets/images/team1.jpg" class="img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card w-80 m-auto mb-2">
                    <div class="card-body">
                        <img src="../assets/images/team2.jpg" class="img-thumbnail ">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card w-80 m-auto mb-2">
                    <div class="card-body">
                        <img src="../assets/images/team3.jpg" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="card w-80 m-auto mb-2">
                    <div class="card-body">
                        <img src="../assets/images/team4.jpg" class="img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card w-80 m-auto mb-2">
                    <div class="card-body">
                        <img src="../assets/images/team5.jpg" class="img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card w-80 m-auto mb-2">
                    <div class="card-body">
                        <img src="../assets/images/team6.jpg" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>