<section class="section bg-info">
    <h2 class="text-center fw-bold fs-2 pt-4">Contact Us</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 m-auto pb-3">
                <div class="card w-75 m-auto">
                    <div class="card-body text-center">
                        <img src="../assets/images/contactPic.png" class="img-thumbnail w-80 h-80" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center  pb-3">
                <div class="card m-auto w-75">
                    <div class="card-body">
                        <h3 class="text-center fw-bold pb-2" appCustom>Enquiry Form</h3>
                        <form class="form-group" (ngSubmit)="onSubmit()" #userform="ngForm">
                            <input type="text" name="name"  placeholder="Enter your name" class="form-control" [(ngModel)]="userModel.name" required><br/>
                            <input type="text" name="email" placeholder="Enter your email" class="form-control" [(ngModel)]="userModel.email"required ><br/>
                            <input type="text" name="number" placeholder="Number" class="form-control" [(ngModel)]="userModel.number" required><br/>
                            <textarea name="text"  placeholder="Message" class="form-control mb-4" [(ngModel)]="userModel.text"></textarea>
                            <textarea name="address"  placeholder="Address" class="form-control" [(ngModel)]="userModel.address" required></textarea>
                            <button type="submit" [disabled]="!userform.valid" class="btn btn-dark fw-bold mt-4">Submit</button>
                       </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>