<section class="section bg-info">
    <h2 class="text-center fw-bold fs-2 pt-4">Our Services</h2>
     <div class="container">
        <div class="row">
            <div class="col-sm-6 m-auto pb-3">
                <div class="card w-75 m-auto">
                   <div class="card-body text-center">
                      <img src="../assets/images/servicePic.png" class="img-thumbnail w-80 h-80"/>
                   </div>
                </div>
            </div>
            <div class="col-sm-6 text-center m-auto pb-3">
               <h3 appCustom class="fw-bold pt-3">Website Development</h3>
               <p class="fw-semibold" [style.color]="'white'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic magni architecto mollitia, maiores, autem eveniet totam veritatis eos aliquam delectus odit, dolore praesentium? Assumenda, ipsum voluptatibus quasi quis laudantium laboriosam!.</p>
               <button class="btn bg-dark text-white fw-bold rounded-4">Read More</button>
            </div>
        </div>
     </div>
</section>
