<div class="container-fluid bg-warning text-center text-dark pt-1 pb-1">
   <div class="row">
       <div class="col-md-12">
           <h4 class="fw-bold">Created by &copy;Anshu <span class="text-danger">Narayan</span></h4>
       </div>
       <div class="col-md-12 fs-5">
            <i class="fab fa-facebook icon p-1"></i>
            <i class="fab fa-instagram icon p-1"></i>
            <i class="fab fa-linkedin icon p-1"></i>
            <i class="fab fa-twitter icon p-1"></i>
       </div>
   </div>
</div>
 