<section class="section about bg-info">
    <h2 class="text-center fw-bold fs-2 pt-4">About Us</h2>
    <div class="container align-content-center">
       <div class="row">
           <div class="col-sm-6 pt-5 mx-auto pb-5 text-center">
               <h3 appCustom class="fw-bold pt-5">We Build Websites That Build Your Business</h3>
               <p class="fw-semibold" [style.color]="'white'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ab odio dolorem nemo possimus cumque, in deleniti id voluptatem, odit quas quaerat ex eius debitis, obcaecati laborum.</p>
               <button class="btn  bg-dark text-white fw-bold rounded-4">Read More</button>
           </div>
           <div class="col-sm-6 pb-3 m-auto">
              <div class="card w-75 m-auto">
                 <div class="card-body  text-center">
                    <img src="../assets/images/aboutPic.png" class="img-thumbnail w-80 h-80">
                 </div>
              </div>
           </div>
       </div>
    </div>
</section>
